﻿    body {
        margin: 0;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1.0625rem;
        font-weight: 400;
        line-height: 1.5;
        color: #515253;
        text-align: left;
        background-color: #f5f7fa
    }
    
    html {
        scroll-behavior: smooth
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: .5rem
    }
    
    h3 {
        orphans: 3;
        widows: 3
    }
    
    h2,
    h3 {
        page-break-after: avoid
    }
    
    input {
        text-transform: uppercase
    }
    
    ul,
    li {
        list-style-type: none
    }
    
    .font {
        font-size: 55px;
        font-family: Arial, Helvetica, sans-serif
    }
   
    .btn-bibi {
        color: #fff;
        background-color: #18addf;
        border-color: #18addf;
        
    }
    
    .btn-bibi:hover {
        color: #fff;
        background-color: #0940d8;
        border-color: #0940d8
    }
    
    .separarproblemas {
        margin-bottom: 10px
    }
    
    .fonteproblemas {
        font-size: 20px;
        color: black
    }
    
    .imgproblema {
        height: 500px
    }
    
    .modal-content {
        background-color: #3270a3;
        color: white
    }
    
    @media (max-width:800px) {
        .imgproblema {
            height: auto
        }
    }
    
    #solucoes {
        padding-top: 80px;
        padding-bottom: 20px
    }
    
    .cortitulo {
        color: white
    }
    
    .setasolucoes {
        color: white!important;
        font-size: 40px
    }
    
    .caracteristicas {
        padding-top: 80px;
        background-color: #D9F2F9
    }
    
    .img-mobile {
        max-width: 260px;
        margin: auto;
        margin-bottom: 80px
    }
    
    .fontecaracteristicas {
        font-size: 24px
    }
    
    .separaricon {
        margin-bottom: 40px
    }
    
    .caracteristicas .img-mobile img {
        width: 100%
    }
    
    .caracteristicas .caracteristicas-left .caracteristicas-right {
        text-align: center
    }
    
    .caracteristicas .caracteristicas-right .feature-icon {
        float: left;
        margin-right: 5px
    }
    
    .caracteristicas .caracteristicas-left .feature-icon {
        float: right;
        margin-left: 30px
    }
    
    .caracteristicas .caracteristicas-left,
    .caracteristicas .caracteristicas-right {
        margin-top: 22px;
        margin-bottom: 80px
    }
    
    @media (min-width: 750px) {
        .caracteristicas .feature-icon {
            display: none
        }
    }
    
    @media (min-width:980px) {
        .caracteristicas .feature-icon {
            display: block
        }
    }
    
    .url {
        padding-top: 50px;
        padding-bottom: 20px;
        background-color: white;
        color: green
    }
    
    .fontD {
        color: #91EB08
    }
    
    .planos {
        padding-top: 80px;
        padding-bottom: 20px
    }
    
    .plan-price h2 {
        margin: 0
    }
    
    .subtitulo {
        font-weight: 500;
        font-size: 28px;
        color: #54a2fe;
        line-height: 25px
    }
    
    .subtitulo2 {
        font-weight: 700;
        font-size: 14px;
        color: grey;
        line-height: 20px
    }
    
    .planos-body {
        list-style-type: none;
        padding-left: 0;
        text-align: left;
        background-color: #edf1f2
    }
    
    .planos-body>li {
        padding: 8px 24px
    }
    
    .planos-body>li>em {
        color: #23b7e5;
        margin-right: 7px
    }
    
    .planos-body>li:last-child {
        padding-bottom: 0
    }
    
    .btn_aderir {
        color: white;
        font-size: 20px;
        background-color: #54a2fe;
        width: auto
    }
    
    .espaçofont {
        letter-spacing: -1px
    }
    
    .patrocinado {
        color: #54a2fe;
        line-height: 20px
    }
    
    .mes {
        line-height: 10px
    }
    
    .download {
        padding: 110px 0;
        text-align: center;
        color: #fff;
        background: url(../img/download.webp) no-repeat center;
        background-size: cover;
        padding-top: 80px
    }
    
    .download h2 {
        margin-top: 0;
        margin-bottom: 30px
    }
    
    @media (max-width:767.98px) {
        .download h2 {
            font-size: 2rem;
            line-height: 2.625rem
        }
    }
    
    .contato {
        padding-top: 80px
    }
    
    .map-container {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0
    }
    
    iframe {
        align-content: center;
        height: 400px;
        width: 880px;
        border: 0
    }
    
    .list-icons {
        list-style-type: none;
        margin-top: 10px;
        padding-left: 0;
        text-align: center
    }
    
    .list-icons li {
        display: inline-block;
        margin: 5px
    }
    
    .list-icons li a {
        font-size: 30px;
        color: #18addf
    }
    
    .list-icons li a:hover,
    .list-icons li a:focus {
        color: #0940d8
    }
    
    #whatsapp {
        bottom: 50%;
        right: 3%;
        position: fixed;
        top: 84%
    }
    
    .midias {
        font-size: 38px;
        color: white
    }
    
    #quemsomos {
        padding-top: 80px
    }
    
    .q_title {
        color: black;
        font-size: 80px
    }
    
    .body_font {
        color: #919191;
        font-size: 30px;
        font-family: Dosis-SemiBold
    }
    
    .q_linha {
        border-left: 4px solid white
    }
    
    .fontequem {
        color: #d6713c;
        font-size: 40px
    }
    
    .mockup-mobile {
        max-width: 900px;
        margin: auto;
        margin-bottom: 80px
    }
    
    .mockup-mobile img {
        width: 100%
    }
    
    .fontplaca,
    .fontproduto {
        font-size: 12px;
    }
    
    .form-control::placeholder {
        color: #18addf
    }
    
    .form-control {
        border-radius: 10px
    }
    
    .btn-success {
        color: #fff;
        background-color: #8cba35;
        border-color: #8cba35
    }
    
    .btn-success:hover {
        color: #fff;
        background-color: grey;
        border-color: grey
    }
    
    .btn-success.focus,
    .btn-success:focus {
        box-shadow: 0 0 0 .2rem rgba(71, 203, 103, .5)
    }
    
    .error-border {
        border: 4px solid rgba(253, 28, 28, .835)
    }
    
    .sucess-border {
        border: 4px solid rgb(2, 238, 34)
    }
    
    .nav-link {
        font-weight: 700
    }
    
    .navbar {
        background-color: black;
        height: auto;
        width: auto;
        flex-basis: 0%;
        -webkit-box-flex: 1;
        flex-grow: 1
    }
    
    @media (max-width:800px) {
        .fontplaca,
        .fontproduto {
            font-size: 10px
        }
    }
    
    .fontnav {
        color: #f0f4fc;
        font-family: century gothic;
        font-size: 5px
    }
    
    .fa-bars {
        color: white;
        font-size: 25px
    }
    
    .seta {
        color: blue!important;
        font-size: 40px
    }
    
    @media (max-width:575.98px) {
        .form {
            position: relative;
            margin-right: auto!important;
            margin-left: auto!important
        }
        .logo {
            margin-right: auto!important;
            margin-left: auto!important
        }
        .placa {
            -ms-flex-preferred-size: 0;
            flex-basis: 0%;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 30%
        }
        .produto {
            -ms-flex-preferred-size: 0;
            flex-basis: 0%;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%
        }
        .a {
            display: none
        }
        .fontequem {
            font-size: 40px
        }
        .body_font {
            font-size: 25px
        }
        .q_title,
        .font {
            font-size: 60px
        }
        #whatsapp {
            bottom: 50%;
            right: 3%;
            position: fixed;
            top: 70%
        }
    }
    
    @media (min-width:576px) and (max-width:599.98px) {
        .logo {
            position: relative;
            margin-right: 2px!important;
            margin-left: 10px!important
        }
        .form {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px
        }
        .placa,
        .produto {
            -ms-flex-preferred-size: 0;
            flex-basis: 0%;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%
        }
        .e {
            display: none
        }
        .a {
            display: block
        }
    }
    
    @media (min-width:600px) and (max-width:767.98px) {
        .logo {
            position: relative;
            margin-right: 10px!important;
            margin-left: 10px!important
        }
        .form {
            position: relative;
            width: 70%
        }
        .placa {
            -ms-flex-preferred-size: 0;
            flex-basis: 0%;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 30%
        }
        .produto {
            -ms-flex-preferred-size: 0;
            flex-basis: 0%;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 43%
        }
        .e {
            display: none
        }
        .a {
            display: block
        }
    }
    
    @media (min-width:768px) and (max-width:991.98px) {
        .form {
            position: relative;
            margin-right: auto!important;
            margin-left: auto!important
        }
        .logo {
            margin-right: 10px!important;
            margin-left: 10px!important
        }
        .placa {
            -ms-flex-preferred-size: 0;
            flex-basis: 0%;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 20%
        }
        .produto {
            -ms-flex-preferred-size: 0;
            flex-basis: 0%;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%
        }
        .e {
            display: none
        }
        .a {
            display: block
        }
    }
    
    @media (min-width:1200px) {
        .form {
            position: relative;
            margin-right: 10px!important;
            margin-left: 10px!important
        }
        .logo {
            margin-right: 10px!important;
            margin-left: 10px!important
        }
        .placa {
            -ms-flex-preferred-size: 0;
            flex-basis: 0%;
            -ms-flex-positive: 1;
            flex-grow: 1;
            width: 100px
        }
        .produto {
            -ms-flex-preferred-size: 0;
            flex-basis: 0%;
            -ms-flex-positive: 1;
            flex-grow: 1;
            width: 500px;
        }
        .e {
            display: none
        }
        .a {
            display: none
        }
    }
    
    @media (min-width:1024px) {
        .sidebar-button {
            position: absolute;
            float: right;
            display: none
        }
        .imagem-slide-desktop {
            height: 100%;
            width: 100%
        }
        .mobile {
            display: none
        }
        .cardbody {
            background-color: #3d66fe;
            width: 300px;
            height: 480px;
        }
        .tamanhoplanos {
            width: auto;
            height: 550px;
            background-color: #edf1f2;
            overflow: auto;
            border-radius: .25rem;
            margin-bottom: 60px;
            padding-bottom: 60px;
            border: 2px solid #54a2fe
        }
        .headerplanos {
            height: 80px;
            background-color: #54a2fe;
            color: #fff;
            margin: 0;
            padding: 10px;
            text-align: center
        }
        .plan-price {
            background: #fff;
            height: 100px;
            text-align: center;
            padding-top: 10px;
        }
    }
    
    @media (max-width:1024px) {
        .desktop {
            display: none
        }
        .imagem-slide-desktop {
            height: 100%;
            width: 100%
        }
        .mobile {
            display: block
        }
        .cardbody {
            background-color: #3d66fe;
            width: auto;
            height: 450px
        }
        .tamanhoplanos {
            width: auto;
            height: 500px;
            background-color: #edf1f2;
            overflow: auto;
            border-radius: .25rem;
            margin-bottom: 60px;
            padding-bottom: 30px;
            border: 2px solid #54a2fe
        }
        .headerplanos {
            height: auto;
            background-color: #54a2fe;
            color: #fff;
            margin: 0;
            padding: 10px;
            text-align: center
        }
        .plan-price {
            background: #fff;
            padding: 10px;
            height: auto;
            text-align: center
        }
    }