#logo {
    width:80px;
    height: 80px;
}
.link{
    list-style-type: none
}

#contato {
    width: 100%;
    height: 40%;
}

.espaco {
    padding-right: 10px;
    padding-left: 10px;
}

.cornav {
    background: #ffffff;
}

#footer {
    padding-top: 80px;
    padding-bottom: 30px;
    background: black;
}

.map-container-5 {
    overflow: hidden;
    padding-bottom: 35%;
    position: relative;
    padding-top: 20px;
    text-align: center;
}

.map-container-5 iframe {
    align-content: center;
    height: 400px;
    width: 820px;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.descer {
    padding-top: 28px;
}

.pic-text {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}

.cor-contato {
    background: #ebebe0;
}

.cordaborda {
    height: calc(1.5em + 0.75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid rgba(253, 28, 28, 0.835);
    border-radius: .25rem;
}

.cordaborda2 {
    height: calc(1.5em + 0.75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid rgb(2, 238, 34);
    border-radius: .25rem;
}

.divmobile {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -35px
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s
}

#myImg:hover {
    opacity: .7
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .9)
}

.popup-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px
}

.popup-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.closebotao {
    position: absolute;
    top: 15px;
    right: 35px;
    color: red;
    font-size: 60px;
    font-weight: 700;
    transition: 0.3s
}

.closebotao:hover,
.closebotao:focus {
    color:#bbb;
    text-decoration: none;
    cursor: pointer
}

@media only screen and (max-width:700px) {
    .popup-content {
        width: 100%
    }
}

#indicadores {
    display: none;
}
