.mobile {
    display: none;
}

.cornav1 {
    background-color: black;
}

.mobile-img {
    width: 80px;
    display: none;
}

.navbar-inverse {
    background-color: #05467C !important;
    color: #FFF !important;
}

@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .mobile-img {
        display: block;
    }
    .cor {
        background-color: rgb(238, 238, 238);
    }
}